@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body{font-family: 'Poppins', sans-serif; color: #101010; font-size: 15px; font-weight: normal;line-height:22px;}

h1, h2, h3, h4, h5, h6, p{ font-weight: 400;}

.main-form{margin: 30px 0;}
.main-form .table{margin-bottom: 10px;}
.main-form .form-group{margin-bottom: 0;}
.main-form .form-group .text-box{margin-bottom: 0; height: 25px; color: #999; border-radius: 0; padding:5px;}
.main-form .form-group .text-box:focus{max-width: 250px;width: 250px;color: #e31837}
.width200{ max-width: 250px;width: 250px; }
.backgroundmain{background: #e31837; color: #fff;border-color: #fff !important; }
.backgroundsecond{background: #f1f1f1; color: #101010;border-color: #fff !important; }

.big-table .table{ width: 1600px;max-width: 1600px; }
.big-table .table .table-bordered{ border: 1px solid #ddd; }
.big-table::-webkit-scrollbar {width: 10px !important;}
.big-table::-webkit-scrollbar-track {box-shadow: inset 0 0 1px grey; }
.big-table::-webkit-scrollbar-thumb {background: #f1f1f1;transition: 0.5s; }
.big-table::-webkit-scrollbar-thumb:hover {background: #656565; transition: 0.5s;}

.padding-top-15{padding-top: 15px !important;}
.text-box-new{ background: transparent; border: none; box-shadow: none; color: #fff; text-align: center;}
.text-box-new::-webkit-input-placeholder {color:#fff;}
.text-box-new::-moz-placeholder { color:#fff;}
.text-box-new:-ms-input-placeholder {color:#fff;}
.text-box-new:-moz-placeholder {color:#fff;}
.text-box-new:focus{color: #fff; border: 1px solid #fff; border-radius:0; transition:none; box-shadow: none;}


@media only screen and (max-width:1024px){
    
}

@media only screen and (max-width:768px){
    
}

@media only screen and (max-width:767px){
	.main-form .table{ margin-bottom: 5px; }
}